body{
    font-family: Georgia, serif;
    font-size:20px;
    line-height:1.5;
    font-weight:300;
    background-color: #F8F8F8;
}
.content{
    width : 900px;
    padding : 25px 30px;
    margin : 25px auto;
    background-color : #fff;
    box-shadow: 0px 0px 10px #999;
    border-radius: 15px; 
}
/* the first row */
#toptitle{
    color:  #086AFA;
    /*font-family: 'Comic Sans MS', cursive;*/
    font-family: Times;
    font-size: 20px;
    padding-bottom: 0.1em;
    margin-bottom: -0.2em;
}
.table{
    font-size: 18px;
}
/* the second row */
.tcolor{
    color: #086AFA;
    border-bottom: 2px solid #aaaaaa;
}
.link_img{
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
img{
    border-radius: 10px;
}
/* bottom */


