body{
    font-family: sans-serif;
    background-color: white;
    color: black;
}

.content{
    width : 900px;
    padding : 25px 30px;
    margin : 25px auto;
    background-color : #fff;
    box-shadow: 0px 0px 10px #999;
    border-radius: 15px; 
}

.navigation{
    margin-left: 0, auto;
    border-top: 1px solid #69acff;
    border-bottom: 1px solid #69acff;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 2px;
}

.navigation img{
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 2px;
}

a{
    text-decoration: none;
    color: navy;
    background-color: transparent;
}

a:hover{
    color:#69acff;
    background-color: transparent;
}

a.red{ 
    text-decoration:none;
    color:#B21317;
    background-color: transparent;
}

a.red:hover{
    color:#b26d6e;
    background-color: transparent;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.rlink { 
    padding-left:20px;
    color: #c52b48;
}

.link { 
    color: #c52b48;
}

.header{
    border-bottom: 1px solid #69acff;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
    font: 11px sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #222;
    background-color: white;
}

.person{
    margin-left: 240px;
    margin-right: 200px;
}

.person #photo{
    border-radius: 10px;
    width: 140px;
    height: 180px;
}

.person #info{
    padding-left: 30px;
}

.name h1{
    font-size: 160%;
    color: black;
    /*font-family: serif;*/
    font-weight: bold;
}

.link_img{
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-right: 3px;
}